@using SmartCMS.Models;
@using SmartCMS.Extensions;

@model QuestionViewModel


@{
    ViewBag.Title = Model.Question;
    SmartCMSPrincipal currentUser = (SmartCMSPrincipal)User;
}


<div id="breadcrumbs">
    <ul>
        <li>@Html.ActionLink("问题管理", "QuestionCategories", "CMS") </li>
        <li><a href="~/CMS/Questions/@Model.CategoryId">问题解答</a></li>
    </ul>
</div>
<br />

<div class="content-wrapper">
    <div class="main-content">

        <div class="question-left">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @TempData["ErrorMessage"]
                </div>
            }

            <h1 class="question"> <i class="glyphicon glyphicon-question-sign"></i>@(new HtmlString(Model.Question.FormatHtml()))</h1>


            <span class="question-info">@Model.AskedBy.RealName <span class="user-level">@Model.AskedBy.Level</span> |  提问<text>@Model.Hits</text>次</span>
            <span class="question-info" style="float:right;">分类:<a href="~/CMS/Questions/@Model.CategoryId">@Model.CategoryName</a> |  最近提问时间: @Model.LastAskedAt.Value.ToString("yyyy-MM-dd HH:mm")</span>

            <hr class="question" />

            <h3 class="best-answer"><i class="glyphicon glyphicon-ok-circle"></i>最佳答案</h3>
            @if (Model.BestAnswer != null)
            {
                <text>@(new HtmlString(Model.BestAnswer.Content.FormatHtml()))</text>
                Model.AnswerCount--;
            }
            else
            {
                <div>暂无</div>                
            }
            
            <hr class="question" />
            <h3 class="other-answer"><i class="glyphicon glyphicon-th-list"></i>其他<span>@Model.AnswerCount</span>条回答</h3>
            @if(Model.Answers ==null && Model.Answers.Count()==0)
            {
                <text>暂无</text>

                <hr class="question" />
            }
            @foreach (AnswerViewModel answer in Model.Answers)
            {
                if(Model.BestAnswer !=null && Model.BestAnswer.Id == answer.Id)
                {
                    continue;
                }
                <text>
                    <div class="other-answer-container">
                        <p>                            
                            @(new HtmlString(answer.Content.FormatHtml()))
                        </p>
                        
                        <div>
                            <div class="question-info other">
                                @answer.AnswerBy.RealName <span class="user-level">@answer.AnswerBy.Level</span> |  回答于<i>@answer.AnswerAt.Value.ToString("yyyy-MM-dd HH:mm")</i>
                                @if (User.IsInRole(Constants.Roles.ROLE_ADMIN) 
                                    || User.IsInRole(Constants.Roles.ROLE_CHIEF_EDITOR))
                                {
                                    <button type="button" class="btn btn-info btn-xs">采纳</button>    
                                }
                                @if (User.IsInRole(Constants.Roles.ROLE_ADMIN)
                                    || User.IsInRole(Constants.Roles.ROLE_CHIEF_EDITOR)
                                    || currentUser.Id == answer.AnswerBy.ID)
                                {
                                    <button type="button" class="btn btn-warning btn-xs" onclick="javascript:uid=@answer.Id; $('#deleteAnswerModal').modal('show'); ">删除</button>
                                    using (Html.BeginForm("DeleteAnswer", "CMS", FormMethod.Post, new { id = "deleteAnswerForm_" + answer.Id, style = "display:none;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@answer.Id" />
                                    }
                                }
                            </div>
                            <div class="btn-group" style="float:right">
                                <button type="button" class="btn btn-default like" aid="@answer.Id"><span class="glyphicon glyphicon-thumbs-up"></span>赞<i>@answer.Likes</i></button>
                                <button type="button" class="btn btn-default unlike" aid="@answer.Id"><span class="glyphicon glyphicon-thumbs-down"></span>踩<i>@answer.Unlikes</i></button>
                            </div>
                            <br class="clear" />
                        </div>
                        
                    </div>
                    <hr class="question" />
                </text>
            }



            @using (Html.BeginForm("Answer", "CMS", new { id = Model.Id }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div style="width:100%; text-align:center;">

                <div class="alert alert-info">
                    如果您的回答被采纳，您将获得：系统奖励20（经验值）
                </div>

                <div class="form-group">
                    <div class=''>
                        @Html.TextAreaFor(m => m.Answer, new { id = "myEditor", style = "width:100%;height:320px;padding-left:10px;", value = Model.Answer, placeholder = "词条解析或问题解答", maxlength = 1000 })
                    </div>
                </div>

                <!--
                <div class="form-group" style="height:40px;">
                    <a href="javascript:;" class="file">
                        选择附件文件
                        <input type="file" name="file" />
                    </a><span id="selectedFile"></span>
                </div>
                    -->

                <p style="text-align:right;">
                    <a href="~/CMS/Questions/@Model.CategoryId" class="btn btn-success" style="color:white;">返 回</a>
                    <button type="submit" class="btn btn-success">提交回答</button>
                </p>
            </div>
            }

        </div>



        <div class="question-right">


            <div class="user-avatar"></div>
            @currentUser.RealName
            <hr class="question" />

            <h3>其他类似问题</h3>
            <hr class="question" />

            <h3>等待您来回答</h3>
            <hr class="question" />
        </div>

        <br class="clear" />
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除回答</h4>
            </div>
            <div class="modal-body">确定要删除该回答？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="$('#deleteAnswerForm_' + uid).submit();">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script>
    $(".file").on("change", "input[type='file']", function () {
        var filePath = $(this).val();
        if (filePath.length > 0) {
            var arr = filePath.split('\\');
            var fileName = arr[arr.length - 1];
            $("#selectedFile").html(fileName);
        } else {
            $("#selectedFile").html("");
            return false;
        }
    })


    $("button.like").on("click", function () {
        var id = $(this).attr("aid");
        $(this).attr("disabled", "disabled");
        var obj = $(this);
        $.getJSON("/CMS/LikeAnswer/" + id, function (result) {
            if (result) {
                $(obj).find("i").html(result);
            }
        });
    });

    $("button.unlike").on("click", function () {
        var id = $(this).attr("aid");
        $(this).attr("disabled", "disabled");        
        var obj = $(this);
        $.getJSON("/CMS/UnlikeAnswer/" + id, function (result) {
            if (result) {
                $(obj).find("i").html(result);
            }
        });
        
    });
</script>
