@model IEnumerable<SmartCMS.Models.CategoryViewModel>

@{
    ViewBag.Title = "待解答问题";
}

<div id="breadcrumbs">
    <ul>
        <li>@Html.ActionLink("问题管理", "QuestionCategories", "CMS") </li>
        <li><a href="#">@ViewBag.Title</a></li>
    </ul>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Categories
    </div>
    <div class="panel-body">
        
        @foreach(SmartCMS.Models.CategoryViewModel category in Model)
        {
            @DisplayCategory(category);           
        }
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        &nbsp;
    </div>
</div>


@helper DisplayCategory(SmartCMS.Models.CategoryViewModel category)
{
    var className = category.ParentId == 0 ? "category" : "sub-category";
    var count = category.Count > 0? new HtmlString("<span class=\"badge\">" + category.Count + "</span>") : null;
    <ul class="@className">
        @if(category.ParentId==0)
        {
            <li><a href="~/CMS/Questions/@category.Id" class="category-item-root"><b>@category.Name</b></a>@count</li>
        }
        else
        {
            <li><a href="~/CMS/Questions/@category.Id" class="category-item">@category.Name</a>@count</li>
        }
        
        @if (category.SubCategories != null)
        {
                foreach (SmartCMS.Models.CategoryViewModel sc in category.SubCategories)
                {
                    @DisplayCategory(sc);
                }
        }
    </ul>
    if(category.ParentId==0)
    { 
        <hr style="width:500px; margin:10px 0 10px 100px;"/>
    }
    
}
